The nth term of the sequence of triangle numbers is given by: $ t_n = \dfrac{n(n+1)}{2} $, so the first ten triangle numbers are:

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...

By converting each letter in a word to a number corresponding to its alphabetical position and adding these values we form a word value. For example, the word value for SKY is 19 + 11 + 25 = 55 = $t_{10}$. If the word value is a triangle number then we shall call the word a triangle word.

Using words.txt (right click and 'Save Link/Target As...'), a 16K text file containing nearly two-thousand common English words, how many are triangle words?

In [5]:
import numpy as np
import pandas as pd

# Load data into the correct format
data = pd.read_csv("p042_words.txt").columns.to_numpy()
data

array(['A', 'ABILITY', 'ABLE', ..., 'YOUR', 'YOURSELF', 'YOUTH'],
      dtype=object)

In [11]:
ascii_offset = ord('A') - 1

def calc_word_value(word):
    s = 0
    for char in word.upper():
        s += ord(char) - ascii_offset
    return s
        
calc_word_value("SKY")

55

In [22]:
def is_triable_num(num):
    n = int(np.sqrt(num*2))
    if num == n*(n+1)/2:
        return True
    else:
        return False

is_triable_num(calc_word_value("SKY"))

True

In [23]:
from tqdm import tqdm

hits = []

for each in data:
    if is_triable_num(calc_word_value(each)):
        hits.append(each)
        
print("Found a total of {:} triangle words".format(len(hits)))

Found a total of 162 triangle words